In [1]:
l = [10,20,30,40,50,60]
l2 = []
for value in l:
    l2.append(value * value)
print(l2)

[100, 400, 900, 1600, 2500, 3600]

In [2]:
l = [10,20,30,40,50,60]
l2 = [value * value for value in l]
print(l2)

[100, 400, 900, 1600, 2500, 3600]

In [3]:
l = ['abc',"pqrs","xyzz","tttttt"]
l2 = [len(value) for value in l]
print(l2)

[3, 4, 4, 6]

In [4]:
l = [10,25,30,35,40,45,50,55]
l2 = [value for value in l if value % 2 == 0]
print(l2)

[10, 30, 40, 50]

In [5]:
l = [10,25,30,35,40,45,50,55]
l2 = ["even" if value % 2 == 0 else "odd" for value in l]
print(l2)

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [6]:
for val1 in range(10,15):
    for val2 in range(100,105):
        print(val1,val2)

10 100
10 101
10 102
10 103
10 104
11 100
11 101
11 102
11 103
11 104
12 100
12 101
12 102
12 103
12 104
13 100
13 101
13 102
13 103
13 104
14 100
14 101
14 102
14 103
14 104

In [7]:
l2 = [(val1,val2) for val1 in range(10,15) for val2 in range(100,105)]
print(l2)

[(10, 100), (10, 101), (10, 102), (10, 103), (10, 104), (11, 100), (11, 101), (11, 102), (11, 103), (11, 104), (12, 100), (12, 101), (12, 102), (12, 103), (12, 104), (13, 100), (13, 101), (13, 102), (13, 103), (13, 104), (14, 100), (14, 101), (14, 102), (14, 103), (14, 104)]

In [8]:
l = [[1,2,3],[4,5,6],[7,8,9]]
# l2 = [1,2,3,4,5,6,7,8,9]
l2 = [val1 for value in l for val1 in value]
print(l2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
d = {key:key*key for key in range(1,10)}
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
d = a:97,b:98,c:99......z:122
d2 = 97:a,98:b....122:z

In [10]:
ord('a')

97

In [11]:
chr(97)

'a'

In [14]:
d = {chr(key):key for key in range(ord('a'),ord('z')+1)}
print(d)

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103, 'h': 104, 'i': 105, 'j': 106, 'k': 107, 'l': 108, 'm': 109, 'n': 110, 'o': 111, 'p': 112, 'q': 113, 'r': 114, 's': 115, 't': 116, 'u': 117, 'v': 118, 'w': 119, 'x': 120, 'y': 121, 'z': 122}

In [15]:
d2 = {value:key for key,value in d.items()}
print(d2)

{97: 'a', 98: 'b', 99: 'c', 100: 'd', 101: 'e', 102: 'f', 103: 'g', 104: 'h', 105: 'i', 106: 'j', 107: 'k', 108: 'l', 109: 'm', 110: 'n', 111: 'o', 112: 'p', 113: 'q', 114: 'r', 115: 's', 116: 't', 117: 'u', 118: 'v', 119: 'w', 120: 'x', 121: 'y', 122: 'z'}

In [16]:
l = [10,20,30,40,50,60]
l2 = [value * value for value in l]
print(l2)

[100, 400, 900, 1600, 2500, 3600]

In [18]:
def sqr(num1):
    return num1 * num1

l = [10,20,30,40,50,60]
m = map(sqr,l)
print(list(m))

[100, 400, 900, 1600, 2500, 3600]

In [19]:
def add(num1,num2,num3):
    return num1 + num2 + num3

l1 = [1,2,3,4,5]
l2 = [10,20,30,40,50]
l3 = [100,200,300,400,500]
l = list(map(add,l1,l2,l3))
print(l)

[111, 222, 333, 444, 555]

In [25]:
def even(num1):
    if num1 % 2 == 0:
        return True
    else:
        return False
l = [10,15,20,25,45,85]
l = list(filter(even,l))
print(l)

[10, 20]

In [29]:
def perfect(num):
    sum = 0
    for value in range(1,num):
        if num % value == 0:
            sum = sum + value
            
    if sum == num:
        return True
    else:
        return False

m = list(filter(perfect,range(1,501)))
print(m)

[6, 28, 496]

In [30]:
l = [10,20,30,40,50]
l2 = list(map(lambda num1:num1 * num1 ,l))
print(l2)

[100, 400, 900, 1600, 2500]

In [31]:
l1 = [1,2,3,4,5]
l2 = [10,20,30,40,50]
l3 = [100,200,300,400,500]


l3 = list(map(lambda num1,num2,num3 : num1 + num2 + num3 , l1,l2,l3))
print(l3)

[111, 222, 333, 444, 555]

In [34]:
l = [10,20,30,35,40,45,50,55]
l2 = filter(lambda num1: num1 % 2 == 0,l)
print(list(l2))

[10, 20, 30, 40, 50]

In [35]:
iterators 
generators 
decorators

NameError: name 'iterators' is not defined