In [ ]:
Paytm :
    mob no 
    email
    kyc details 
    payment details 
    
    add money 
    book tickets 
    recharge

In [ ]:
class:
    variable  => data members 
    
    methods/functions 
oBjects 
user1 
user2

In [ ]:
Emp :
    id 
    name 
    email 
    sal 
    
    get_details()
    incr_sal()
    set_dept()

In [3]:
class Emp:
    pass

emp1 = Emp()
print(emp1)

<__main__.Emp object at 0x000001434B099400>

In [17]:
class Emp:
    def __init__(self,emp_id,name,email,sal):
        self.emp_id = emp_id
        self.name = name 
        self.emp_email = email
        self.sal = sal
        
    def set_dept(self,dept_name):
        self.dept_name = dept_name
    
    def incr_sal(self,per = 30):
        self.sal = self.sal + (self.sal * per) /100
        return self.sal
        
emp1 = Emp(101,"ABC","abc@xyz.com",45000)
print(emp1)

emp2 = Emp(102,"PQR","pqr@xyz.com",55000)
print(emp2)

emp3 = Emp(103,"QWE","qwe@xyz.com",65000)
print(emp1)

emp4 = Emp(104,"RST","rst@xyz.com",55000)
print(emp2)

<__main__.Emp object at 0x000001434B2076A0>
<__main__.Emp object at 0x000001434B201E10>
<__main__.Emp object at 0x000001434B2076A0>
<__main__.Emp object at 0x000001434B201E10>

In [5]:
print(emp1.emp_id,emp1.name,emp1.emp_id,emp1.sal)
print(emp2.emp_id,emp2.name,emp2.emp_id,emp2.sal)

101 ABC 101 45000
102 PQR 102 55000

In [8]:
emp1.set_dept("HR")

In [11]:
print(emp1.dept_name)
print(emp1.__dict__)

HR
{'emp_id': 101, 'name': 'ABC', 'emp_email': 'abc@xyz.com', 'sal': 45000, 'dept_name': 'HR'}

In [14]:
# print(emp2.dept_name)
print(emp2.__dict__)

{'emp_id': 102, 'name': 'PQR', 'emp_email': 'pqr@xyz.com', 'sal': 55000}

In [ ]:
Instance variable :

In [16]:
sal_emp1 = emp1.incr_sal(40)
print(sal_emp1)
sal_emp2 = emp2.incr_sal()
print(sal_emp2)

63000.0
71500.0

In [18]:
emps = [emp1,emp2,emp3,emp4]
for emp in emps:
    print(emp.incr_sal())

58500.0
71500.0
84500.0
71500.0

In [33]:
class Emp:
    def __init__(self,emp_id,name,email,sal):
        self.__emp_id = emp_id
        self.__name = name 
        self.emp_email = email
        self.__sal = sal
      
    def get_emp_id(self):
        return self.__emp_id
    
    def get_name(self):
        return self.__name
    
    def set_name(self,new_name):
        self.__name = new_name
        
    def set_dept(self,dept_name):
        self.__dept_name = dept_name
    
    def incr_sal(self,per = 30):
        self.__sal = self.__sal + (self.__sal * per) /100
        return self.__sal
        
emp1 = Emp(101,"ABC","abc@xyz.com",45000)


emp2 = Emp(102,"PQR","pqr@xyz.com",55000)

emp3 = Emp(103,"QWE","qwe@xyz.com",65000)

emp4 = Emp(104,"RST","rst@xyz.com",55000)

In [27]:
print(emp1.get_emp_id())

101

In [30]:
print(emp1.get_name())
emp1.set_name("RTY")
print(emp1.get_name())

ABC
RTY

In [31]:
print(epm1.__name)

NameError: name 'epm1' is not defined

In [35]:
print(emp1._Emp__emp_id)

101

In [46]:
class Emp:
    count = 0 
    emps = []
    def __init__(self,emp_id,name,email,sal):
        self.__emp_id = emp_id
        self.__name = name 
        self.emp_email = email
        self.__sal = sal
        Emp.count +=1
        Emp.emps.append(self)
      
    def get_emp_id(self):
        return self.__emp_id
    
    def get_name(self):
        return self.__name
    
    def set_name(self,new_name):
        self.__name = new_name
        
    def set_dept(self,dept_name):
        self.__dept_name = dept_name
    
    def incr_sal(self,per = 30):
        self.__sal = self.__sal + (self.__sal * per) /100
        return self.__sal
        
emp1 = Emp(101,"ABC","abc@xyz.com",45000)

emp2 = Emp(102,"PQR","pqr@xyz.com",55000)

emp3 = Emp(103,"QWE","qwe@xyz.com",65000)

emp4 = Emp(104,"RST","rst@xyz.com",55000)

In [41]:
print(Emp.count)
print(Emp.emps)
ids = [emp.get_emp_id() for emp in Emp.emps]
print(ids)

4
[<__main__.Emp object at 0x000001434B2156A0>, <__main__.Emp object at 0x000001434B215828>, <__main__.Emp object at 0x000001434B215710>, <__main__.Emp object at 0x000001434B2156D8>]
[101, 102, 103, 104]

In [47]:
print(emp1.count)
print(emp1.__dict__)

4
{'_Emp__emp_id': 101, '_Emp__name': 'ABC', 'emp_email': 'abc@xyz.com', '_Emp__sal': 45000}

In [48]:
emp1.count = 100
print(emp1.__dict__)
print(Emp.count)
print(emp1.count)

{'_Emp__emp_id': 101, '_Emp__name': 'ABC', 'emp_email': 'abc@xyz.com', '_Emp__sal': 45000, 'count': 100}
4
100

In [ ]:
Student :
    roll_no 
    name
    marks = [80,80,70,45,62]
    
    calculate result  pass/fail  >40 

    All passed studens and all failed students  id name 
    Top 3 students id name

In [65]:
class Student:
    studs = []    
    
    def __init__(self,roll_no,name,marks):
        self.roll_no = roll_no
        self.name =  name
        self.marks = marks
        Student.studs.append(self)
        
    def cal_result(self):
        self.per = (sum(self.marks) / 5) 
        if self.per > 40:
            self.result = "Pass"
        else:
            self.result = "Fail"
    
stud1 = Student(1,"ABC",[45,45,45,70,80])
stud2 = Student(2,"PQR",[35,35,20,40,35])
stud3 = Student(3,"XYZ",[45,45,45,70,80])
stud4 = Student(4,"SSS",[80,80,70,70,80])
stud5 = Student(5,"TTT",[45,45,45,70,80])

In [61]:
print(Student.studs)

[<__main__.Student object at 0x000001434B212A20>, <__main__.Student object at 0x000001434B2129E8>, <__main__.Student object at 0x000001434B2129B0>, <__main__.Student object at 0x000001434B212A58>, <__main__.Student object at 0x000001434B212A90>]

In [67]:
for stud in Student.studs:
    stud.cal_result()

In [68]:
for stud in Student.studs:

    if stud.result == "Pass":
        print(stud.roll_no,stud.name,stud.per)

1 ABC 57.0
3 XYZ 57.0
4 SSS 76.0
5 TTT 57.0

In [69]:
for stud in Student.studs:

    if stud.result == "Fail":
        print(stud.roll_no,stud.name,stud.per)

2 PQR 33.0

TypeError: '<' not supported between instances of 'Student' and 'Student'

In [ ]:
Tutorial 
    tut_id 
    course = obj 
    content = 
    author = 
Course 
    id
    catagory     
    
All tutirals of counrse "Python"
All tutorials of author "ABC"



1 Course multiple tutorials