In [1]:
print("Hi")

Hi

In [2]:
print("Hello python")

Hello python

In [3]:
print(10 + 10 )

20

### Different modes of execution:
- 1. Interactive mode cmd python >>> print("Hi") quit()
- 2. Scripting Mode .py cmd dir python filename.py
- 3. IDE ctrl + enter , shift + enter

In [6]:
print("Hi")

Hi

### Data types:
> - int 10 25 55555555 immutable 
> - float 10.255 10.2555555 immutable 
> - str 'python' "Java" """ Python sample string""" immutable 
> - list [10,20,30,"Python","Java",[100,200,300]] mutable - add update and delete  
> - tuple (10,20,30,"Python","java") immutable 
> - dict {"name":"ABC","email":"abc@gmail.com","contact":"+919477777777777"} mutable - add upadte delete
> - set {10,20,30,40,50} mutable 
> - bool True False

In [9]:
num1 = 100
num2 = 200 
num3 = num1 + num2 
print(num3)

num1 = "Python"
print(num1)

300
Python

In [10]:
num1 = 300 
print(type(num1))

<class 'int'>

In [12]:
l = [10,20,30,40,50,60]
print(l,type(l))

[10, 20, 30, 40, 50, 60] <class 'list'>

In [18]:
num1 = 257
num2 = 257
print(id(num1),id(num2))
num1 = 105
print(id(num1))

2370215458256 2370215457712
1532000576

In [ ]:
Object Intering  0 - 256

In [ ]:
100 
105 num1

In [ ]:
100     200
num1    num2
1001    1005

In [ ]:
int num1;

num1 = 100

In [21]:
l = [10,20,30,40,50]
print(id(l))
l.append(60)
print(l)
print(id(l))

2370216253896
[10, 20, 30, 40, 50, 60]
2370216253896

In [22]:
num1 = num2 = 200
print(num1,num2)

200 200

In [24]:
num1,num2 = 100,200
print(num1,num2)

num1,num2 = num2,num1
print(num1,num2)

100 200
200 100

### Operators
> 1. Arithmatic Operators +,-,*,/,// - floor division ,**, '%' 
> 2. Comparison Operators ==,!=,<,>,<=,>= 
> 3. Identity Operators is is not
> 4. Membership Operators in not in
> 5. Logical Operators and or not
> 6. Assignment Operators =,+=,-=,*=,/=,**=

In [29]:
print(10 / 3)
print( 10 // 3)
print(10 % 3)
print(25 ** 0.5)

3.3333333333333335
3
1
5.0

In [33]:
print(100 > 100)

False

In [35]:
num1 = 100 
num2 = 100 
print(num1 == num2)
print(num1 is num2)

True
True

In [39]:
l1 = [10,20,30]
l2 = [10,20,30]

print(l1 == l2)
print(l1 is not l2)

True
True

In [48]:
l = [10,20,30,40,50,60]
num1 = 400
print(400 not in l)

True

In [47]:
d = {1:1,2:4,3:9,4:16}
print(d)

{1: 1, 2: 4, 3: 9, 4: 16}

In [50]:
print(5==5 and 6!=5)

True

In [51]:
num1=2

In [52]:
print(not(10==10 and 5==5))

False

In [56]:
num1 = 100
num1 = num1 + 5 
print(num1)
num1/=5
print(num1)

105
21.0

In [ ]:
num1 = 2100
num1 = "Python"

In [ ]:
2100 

python num1