In [ ]:
Relational => SQLlite,mysql,oracle ,postgres
Non realtional => MongoDb,Cassandra

In [ ]:
DB API 2.0

In [ ]:
conn = connect(hostname = "" , database = "" , username = "" , password="")
conn.close()

In [ ]:
cur = conn.cursor()

In [ ]:
cur.execute(""" SQL Query """)

In [ ]:
pip install psycopg2

In [ ]:
pip install cx_oracle

In [20]:
import psycopg2

In [32]:
conn = psycopg2.connect(host = "localhost" , user = "" , password = "", database = "Emp")

In [33]:
cur =  conn.cursor()

In [34]:
cur.execute("""CREATE TABLE IF NOT EXISTS EMP1(ID INT PRIMARY KEY, NAME VARCHAR(32),EMAIL VARCHAR(32))""")

In [35]:
cur.execute("""INSERT INTO EMP1(ID,NAME,EMAIL) VALUES (101 , 'ABC' , 'ABC@XYZ.COM' )""")

In [37]:
id = 102
name = 'PQR'
email = 'xyz@gmail.com'
cur.execute("""INSERT INTO EMP1(ID,NAME,EMAIL) VALUES (%s , %s , %s )""",(id,name,email))

In [41]:
try:
    cur.execute("""INSERT INTO EMP1(ID,NAME,EMAIL) VALUES (%s , %s , %s )""",(id,name,email))
except psycopg2.IntegrityError:
    print("Id already exist")
except psycopg2.InternalError:
    conn.rollback()

In [44]:
cur.execute("""SELECT * FROM EMP1""")
print(next(cur))
print(next(cur))

(101, 'ABC', 'ABC@XYZ.COM')
(102, 'PQR', 'xyz@gmail.com')

In [45]:
cur.execute("""SELECT * FROM EMP1""")
for row in cur:
    print(row)

(101, 'ABC', 'ABC@XYZ.COM')
(102, 'PQR', 'xyz@gmail.com')

In [46]:
cur.execute("""SELECT * FROM EMP1""")
print(cur.fetchone())

(101, 'ABC', 'ABC@XYZ.COM')

In [47]:
cur.execute("""SELECT * FROM EMP1""")
print(cur.fetchall())

[(101, 'ABC', 'ABC@XYZ.COM'), (102, 'PQR', 'xyz@gmail.com')]

In [48]:
cur.execute(""" UPDATE EMP1 SET EMAIL = 'RST@GMAIL.COM' WHERE ID = 102""")
conn.commit()

In [49]:
cur.execute("""SELECT * FROM EMP1 WHERE ID  = 102 """)
print(cur.fetchone())

(102, 'PQR', 'RST@GMAIL.COM')

In [50]:
cur.execute("""DELETE FROM EMP1 WHERE ID = 102 """)
conn.commit()

In [52]:
cur.execute("""SELECT * FROM EMP1""")
print(cur.fetchall())

[(101, 'ABC', 'ABC@XYZ.COM')]

In [53]:
conn.close()

In [38]:
conn.commit()

In [31]:
conn.rollback()

In [ ]:
Database 
    tables 
        rows and cloumns
        
Datbase :
    collections 
        documents => dict