### Sets
* Contains Unique elements
* Support all set operations

In [1]:
s1 = set([1,2,3,4,1,2,3])

In [2]:
s1

{1, 2, 3, 4}

In [3]:
s2 = set([1,2,1,2,])

In [4]:
s2

{1, 2}

* Difference

In [5]:
s1 - s2

{3, 4}

In [8]:
s1.difference(s2)

{3, 4}

* Union

In [11]:
s1.union(s2)

{1, 2, 3, 4}

In [12]:
s1 | s2

{1, 2, 3, 4}

* Intersection

In [13]:
s1 & s2

{1, 2}

In [14]:
s1.intersection(s2)

{1, 2}

* Append to the set

In [17]:
s1.add(41)

In [18]:
s1

{1, 2, 3, 4, 41}

* Checking if data is subset

In [19]:
s2.issubset(s1)

True

In [20]:
s1.issubset(s2)

False

In [22]:
s1.pop()

1

In [23]:
s1

{2, 3, 4, 41}

In [25]:
s = set()

In [26]:
s.add(4)

In [27]:
s

{4}

In [29]:
jack = ['tennis','baseball','cricket','badminton']
jill = ['cricket','badminton','kabaddi','tennis']
mic = ['khokho','football','tennis']

In [31]:
set(jack) & set(jill) & set(mic)

{'tennis'}

In [32]:
set('hello')

{'e', 'h', 'l', 'o'}

In [33]:
set(jack) | set(jill) | set(mic)

{'badminton', 'baseball', 'cricket', 'football', 'kabaddi', 'khokho', 'tennis'}

In [35]:
for e in set(jack):
    print (e)

badminton
tennis
cricket
baseball

In [36]:
j = set(jack)

In [38]:
# Sets does not support indexing
#j[0]

TypeError: 'set' object does not support indexing